<div class="row">
  <!--  -->
  <div class="col-md-12 stretch-card grid-margin">
    <div class="card">
      <div class="card-header">
        <h3>Product Planning</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="addNewPostForm">
          <div class="row">
            <!-- plant -->

            <div class="col-md-3 py-3">
              <div class="form-floating">
                <h3>Select Plant</h3>
                <ng-select
                  [items]="FactoriesDropDown"
                  [loading]="!FactoriesDropDown"
                  [searchable]="false"
                  bindLabel="location"
                  bindValue="id"
                  placeholder="Select Plant"
                  formControlName="factoryId"
                  [(ngModel)]="selectedplant"
                  (click)="lineID(selectedplant)"
                >
                </ng-select>
              </div>
            </div>
            <!-- line -->
            <div class="col-md-3 py-3">
              <div class="form-floating">
                <h3>Select Line</h3>

                <ng-select
                  [items]="LineDropDown"
                  [searchable]="false"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select line"
                  formControlName="line"
                  [(ngModel)]="selectedLine"
                >
                </ng-select>
              </div>
            </div>
            <!--Shift  -->
            <div class="col-md-3 py-3">
              <div class="form-floating">
                <h3>Select Shift</h3>

                <ng-select
                  [items]="ShiftArr"
                  [searchable]="false"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select Shift"
                  formControlName="Shift"
                  [(ngModel)]="selectedShift"
                >
                </ng-select>
              </div>
            </div>
            <!--MainReason  -->
            <div class="col-md-3 py-3">
              <div class="form-floating">
                <h3>Select SKU</h3>
                <ng-select
                  [items]="SkudropDown"
                  [searchable]="false"
                  bindLabel="productName"
                  bindValue="technicalSKU"
                  placeholder="Select SKU"
                  formControlName="sku"
                  (click)="GetSKUsByFactoryLine(selectedLine)"
                >
                </ng-select>
              </div>
            </div>
            <!--  -->
            <div class="col-md-3 py-3">
              <h3>Cases Count</h3>
              <input
                formControlName="Target"
                class="form-control"
                type="number"
                [(ngModel)]="Target"
              />
            </div>
            <div class="col-md-3 py-3">
              <h3>Select Start Time</h3>
              <input
                formControlName="shiftStartTime"
                class="form-control"
                type="date"
                [(ngModel)]="Starttime"
              />
            </div>
            <div class="col-md-3 py-3 d-flex align-items-end">
              <button
                class="btn btn-primary"
                [disabled]="addNewPostForm.invalid"
                (click)="postform()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-3 stretch-card grid-margin">
    <div class="card">
      <div class="card-header">
        <div class="col-md-3 py-3 w-100">
          <div class="form-floating">
            <ng-select
              [items]="FactoriesDropDown"
              [loading]="!FactoriesDropDown"
              [searchable]="false"
              bindLabel="location"
              bindValue="id"
              placeholder="Select Plant"
              [(ngModel)]="selectedplantFilter"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <ngb-datepicker
            #dp
            [(ngModel)]="selectedDate"
            (navigate)="date = $event.next"
            (click)="
              GetPlanShiftMaterialConsumptionsBySpecificDate(
                selectedDate,
                selectedplantFilter
              )
            "
          ></ngb-datepicker>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div
    class="col-xl-9 stretch-card grid-margin"
    style="height: 500px; overflow: scroll"
  >
    <div class="card" *ngIf="planeLoader">
      <!-- <div class="card-header">
        <h6>Line chart</h6>
      </div> -->
      <div class="card-body table-responsive">
        <table class="table table table-sm">
          <thead class="text-white">
            <tr>
              <th>Factory</th>
              <th>Line</th>
              <th>Machine</th>
              <th>Shift</th>
              <th>Start Date</th>
              <th>sku</th>
              <th>Cases Count</th>
            </tr>
          </thead>
          <!--  -->
          <tbody>
            <tr *ngFor="let item of getPlanShiftMaterialConsumptions">
              <td>{{ item?.location }}</td>
              <td>{{ item?.lineName }}</td>
              <td>{{ item?.machine }}</td>
              <td>{{ item?.shiftNum }}</td>
              <td>{{ item?.shiftStartTime | date : "medium" }}</td>
              <td>{{ item?.sku }}</td>
              <td>{{ item?.target }}</td>
              <td class="d-flex">
                <button
                  type="button"
                  class="btn btn-primary mx-1"
                  (click)="openBasicModal(edit, item)"
                >
                  <i class="icon feather icon-edit"></i>
                </button>
                <div class="example">
                  <ng-template #edit let-modal>
                    <div class="modal-header">
                      <button
                        type="button"
                        class="btn-close"
                        (click)="modal.close('by: close icon')"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="addNewPostForm">
                        <div class="row">
                          <!-- plant -->
                          <div class="col-md-3 py-3">
                            <div class="form-floating">
                              <h3>Select Plant</h3>
                              <ng-select
                                [items]="FactoriesDropDown"
                                [loading]="!FactoriesDropDown"
                                [searchable]="false"
                                bindLabel="location"
                                bindValue="id"
                                placeholder="Select Plant"
                                formControlName="factoryId"
                                [(ngModel)]="selectedplant"
                                (click)="lineID(selectedplant)"
                              >
                              </ng-select>
                            </div>
                          </div>
                          <!-- line -->
                          <div class="col-md-3 py-3">
                            <div class="form-floating">
                              <h3>Select Line</h3>

                              <ng-select
                                [items]="LineDropDown"
                                [searchable]="false"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Select line"
                                formControlName="line"
                                [(ngModel)]="selectedLine"
                              >
                              </ng-select>
                            </div>
                          </div>
                          <!--Shift  -->
                          <div class="col-md-3 py-3">
                            <div class="form-floating">
                              <h3>Select Shift</h3>

                              <ng-select
                                [items]="ShiftArr"
                                [searchable]="false"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Select Shift"
                                formControlName="Shift"
                                [(ngModel)]="selectedShift"
                              >
                              </ng-select>
                            </div>
                          </div>
                          <!--MainReason  -->
                          <div class="col-md-3 py-3">
                            <div class="form-floating">
                              <h3>Select SKU</h3>
                              <ng-select
                                [items]="SkudropDown"
                                [searchable]="false"
                                bindLabel="productName"
                                bindValue="technicalSKU"
                                placeholder="Select SKU"
                                formControlName="sku"
                                (click)="GetSKUsByFactoryLine(selectedLine)"
                              >
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-md-3 py-3">
                            <h3>Cases Count</h3>
                            <input
                              formControlName="Target"
                              class="form-control"
                              type="number"
                              [(ngModel)]="Target"
                            />
                          </div>
                          <div class="col-md-3 py-3">
                            <h3>Select Start Time</h3>
                            <input
                              formControlName="shiftStartTime"
                              class="form-control"
                              type="date"
                              [(ngModel)]="Starttime"
                            />
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="modal.close('by: save button')"
                      >
                        Save changes
                      </button>
                    </div>
                  </ng-template>
                  <!-- Close result -->
                </div>
                <button
                  type="button"
                  class="btn btn-danger mx-1"
                  [disabled]="loadonDelete"
                  (click)="delete(item?.id, selectedDate)"
                >
                  <i class="icon feather icon-delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <!--  -->
        </table>
      </div>
    </div>
    <div class="card" *ngIf="!planeLoader">
      <div class="card-body d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
