<section>
  <!-- sankey Chart -->
    <div class="row">

      <div class=" col-xl-12 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
          <div class="card-body" >
            <div class="row g-3">
              <div class="col-md-3">
                <ng-select [items]="allBatchNames"
                bindLabel="label"
                bindValue="value"
                [searchable]="false"
                placeholder="Select Batch"
                (change)="getSankey(selectedBatch)"
                [(ngModel)]="selectedBatch"
              >
              </ng-select>
              </div>
              </div>
           <div id="sankeyChart"></div>
          </div>
        </div>
      </div>
    </div>
</section>
