::ng-deep {
  .ngx-pagination .current {
    background: #000 !important;
  }
  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-last,
  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-current {
    padding: 0 1rem;
  }
  .table > :not(:first-child) {
    border-top: none;
  }
}

p-table td,
th {
  padding: 10px;
  text-align: center;
}
.bg-success {
  background-color: #198754 !important;
}
.btn-search {
  background-color: #2196f3 !important;
  color: white !important;
}
