// .loaderContainer {
//   position: fixed;
//   width: 100%;
//   z-index: 99;
// }

.profile-override {
  width: 100%;
  left: 0;
  top: 0;
}

.nav-brand-eipico {
  display: flex;
  align-items: center;
  margin-right: 14px;

  img {
    display: block;
    width: 54px;
    height: auto;
  }
}
