<div class="row" *ngIf="!Placeholder">
    <!-- *ngFor="let item of GetFactoryView$ | async as Factory" -->
  <div class="col-xl-12 grid-margin" *ngFor="let item of FactoryContainer">
    <div class="card my-2">
      <div class="card-header d-flex justify-content-between align-items-center" >
        <div>
          <h4 class="card-title " > <span style="border-bottom: solid 5px #6a94c6;">{{item?.factoryName ?? "N/A"}}</span>  - Current Shift</h4>
          <span class="badge bg-danger" *ngIf="item?.validPalletsReads"> One or more Palletizer is Off </span>
        </div>
        <button class="btn-danger btn" (click)="gotoLine(item?.factory)">Plant Details</button>
      </div>
      <div class="card-body" >
            <div class="row">
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex justify-content-between">
                    <h4 class="card-title">SLE</h4>
               <div
                role="progressbar"
                style="--value:{{ item?.sle !== null ? (item?.sle  | number: '1.0-0') : 0 }}">
                <small>{{ (item?.sle | number: "1.0-0")  ?? "N/A"}} %</small>
              </div>
               </div>
             </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Total Lines</h4>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text"> {{item?.numberOfLine}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Pallets</h4>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text"> {{item?.pallets | number: "1.0-1" ?? "N/A"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Cases</h4>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text"> {{item?.packets | number: "1.0-1"?? "N/A"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Bottles</h4>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text"> {{item?.bottles | number: "1.0-1" ?? "N/A"}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Energy Consumption</h4>
                    <span> (kWh)</span>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text">{{item?.energy_Consumption | number: "1.0-1" ?? "N/A"}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Water Consumption</h4>
                    <span>(m<sup>3</sup>)</span>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text">{{item?.water_Consumption | number: "1.0-1" ?? "N/A"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="col-md-3 grid-margin stretch-card">
                <div class="card ">
                  <div class="card-header pt-4" style="background-color: rgb(247, 247, 247);">
                    <h4 class="card-title">Product Produced</h4>
                    <span>(Litres)</span>
                  </div>
                  <div style="background-color: rgb(247, 247, 247);"  class="card-body d-flex align-items-end justify-content-end ">
                    <div>
                      <div>
                        <p class="card-text">{{item?.littersFromAllSkus | number: "1.0-1" ?? "N/A"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>






      </div>
    </div>
  </div>
</div>

<section *ngIf="Placeholder">
  <div class="row" >
    <div class="col-md-12">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
      </div>
    </div>  <div class="col-md-12">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
      </div>
    </div>  <div class="col-md-12">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
      </div>
    </div>  <div class="col-md-12">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
      </div>
    </div>  <div class="col-md-12">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
