.profile-img {
  width: 150px !important;
}
.text-gray {
  color: #99a1b7;
}
.step-number {
  font-weight: bold;
  font-size: 14px;
}
.form-switch .form-check-input,
.form-switch .ng-dropdown-panel input[type="checkbox"],
.ng-dropdown-panel .form-switch input[type="checkbox"] {
  width: 6em !important;
  height: 54px !important;
  margin-left: 45px;
}
.pe-2 {
  padding-right: 3.5rem !important;
}
.card {
  background-color: #f9fafb !important;
}
.btn {
  background-color: #1b84ff !important;
  color: white !important;
}
