<section>
  <!-- timeLine Chart -->
  <div *ngIf="!loading" class="row">
    <div class=" col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div>
            <apx-chart [series]="TimeLineChartOptionsL.series" [chart]="TimeLineChartOptionsL.chart"
              [dataLabels]="TimeLineChartOptionsL.dataLabels" [plotOptions]="TimeLineChartOptionsL.plotOptions"
              [xaxis]="TimeLineChartOptionsL.xaxis" [legend]="TimeLineChartOptionsL.legend"
              [tooltip]="TimeLineChartOptionsL.tooltip" [colors]="TimeLineChartOptionsL.colors"
              [fill]="TimeLineChartOptionsL.fill" [title]="TimeLineChartOptionsL.title"></apx-chart>
          </div>

        </div>
      </div>
    </div>
  </div>
  <p-skeleton *ngIf="loading" width="100%" height="215px"></p-skeleton>
</section>