<form [formGroup]="form">
  <div class="card p-4">
    <div class="row">

      <div class="col-md-2 my-2">
        <label class="mb-2">Username</label>
        <input formControlName="username" class="form-control" placeholder="Enter your name" />
        <p class="required" *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
          Required
        </p>
        <p class="required" *ngIf="form.get('username')?.touched && form.get('username')?.hasError('pattern')">
          Shouldn't have spaces
        </p>
      </div>

      <div class="col-md-2 my-2">
        <label class="mb-2">Email</label>
        <input formControlName="email" class="form-control" type="email" placeholder="Enter your email" />
        <p class="required" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
          Required
        </p>
        <p class="required" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
          Please enter a valid email
        </p>
      </div>

      <div class="col-md-2 my-2">
        <label class="mb-2">Password</label>
        <input formControlName="password" class="form-control" type="text" placeholder="Enter your password" />
        <p class="required" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
          Required
        </p>
        <div class="required" *ngIf="form.get('password')?.hasError('pattern')">
          Password must be at least 8 characters long, and include an uppercase letter, a number, and a special
          character.
        </div>
      </div>

      <div class="col-md-2 my-2">
        <label class="mb-2">Roles</label>
        <ng-select [items]="allRoles" bindLabel="text" bindValue="text" placeholder="Select role"
          formControlName="roleName">
        </ng-select>
        <p class="required" *ngIf="form.get('roleName')?.touched && form.get('roleName')?.hasError('required')">
          Required
        </p>
      </div>

      <div class="col-md-2 my-1 d-flex align-items-center justify-content-center">
        <button class="btn btn-primary mt-4 w-100" [disabled]="form.invalid" (click)="addUser()">Add User</button>
      </div>

    </div>
  </div>


</form>


<div class="card mt-3  tw-shadow-lg">
  <div class="card-body table-responsive">
    <div class="d-flex align-items-center mb-3 gap-3">
      <!-- Filter select -->
      <ng-select [items]="allRoles" id="roleFilter" bindLabel="text" bindValue="text" class="w-50"
        [(ngModel)]="selectedRole" placeholder="Filter by Role" (change)="onRoleChange()">
      </ng-select>

      <!-- Search input -->
      <input type="text" [(ngModel)]="searchText" class="form-control w-50" placeholder="Search By Email" />
      <button (click)="onSearchClick()" for="Search"
        class="btn btn-danger  col-sm-2 col-form-label tw-font-bold tw-w-fit tw-ml-1">Search</button>
    </div>

    <table class="table table-hover align-middle ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
          <th>Creation Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.userName }}</td>
          <td>{{ user.roleName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.creationDate | date: "dd-MM-yyyy hh:mm a" }}</td>
          <td class="">


            <button (click)="openDeleteDialog(user.id)" type="button" class="btn btn-sm text-danger mx-2" title="Delete"
              [disabled]="false">
              <i class="pi pi-trash"></i>
            </button>
            <p-dialog [(visible)]="showDeleteDialog" [modal]="true" [closable]="false" [style]="{width: '30vw'}">

              <app-delete-component (confirm)="deleteUser()" (cancel)="onCancelDelete()">
              </app-delete-component>

            </p-dialog>
            <button (click)="openEditDialog(user)" type="button" class="btn btn-sm text-white bg-edit-primary mx-2"
              title="Edit">
              <i class="pi pi-pencil"></i>
            </button>
            <p-dialog [(visible)]="showEditDialog" styleClass="edit-dialog" [modal]="false" [closable]="true"
              [style]="{width: '60vw'}">
              <ng-template pTemplate="content">
                <ng-container *ngTemplateOutlet="editProfileTpl"></ng-container>
              </ng-template>
            </p-dialog>

            <ng-template #editProfileTpl>
              <app-edit-profile class="hide-navbar" [profileToEdit]="selectedUser" [allClaims]="allClaims"
                [allAreas]="allAreas" [allRoles]="allRoles" (usersUpdated)="handleUserUpdated()">
              </app-edit-profile>
            </ng-template>



          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>