<div *ngIf="chartOptions; else skelton" class="bg-white shadow-sm rounded-3 pt-4 px-2">
    <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels"
            [legend]="chartOptions.legend" [title]="chartOptions.title" [colors]="chartOptions.colors">
        </apx-chart>
    </div>
</div>
<ng-template #skelton>
    <p-skeleton width="100%" height="289px"></p-skeleton>
</ng-template>