<div class="container my-2">
  <div class=" p-2 rounded-4">
    <!-- Profile Header -->
    <div class="text-center">
      <!-- <div class="d-flex justify-content-center">
        <img src="../../../../../assets/images/user.png" class="rounded-circle border" alt="Profile" width="150"
          height="100" />
      </div> -->


    </div>

    <!-- Info Sections -->
    <div class="row mt-1">
      <!-- About Section -->
      <!-- <div class="col-md-4 mb-4">
        <div class="border rounded p-3 h-75">
          <h2 class="fw-bold mb-3">About</h2>

        </div>
      </div> -->
      <div class="stepper-layout">
        <!-- left side (steps navigation only) -->
        <!-- <div class="custom-stepper"> -->

        <!-- <div class="step">
            <div class="circle">1</div>
            <div class="step-content">
              <h4>Password</h4>
              <p>Reset Password</p>
            </div>
          </div> -->

        <!-- Step 2 -->
        <!-- <div class="step" [class.active]="currentStep === 2" (click)="goToStep(2)">
            <div class="circle">2</div>
            <div class="step-content">
              <h4>Password</h4>
              <p>Reset your password</p>
            </div>
          </div> -->
      </div>

      <!-- right side (form box) -->
      <div class="content-box">
        <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
          <ng-container>

            <!-- Step 1 -->
            <div>
              <h2>Reset Password</h2>


              <!-- User form -->
              <ng-container>

                <div class="input-group mb-2">
                  <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="newPassword"
                    placeholder="Enter New Password" class="form-control" />
                  <span class="input-group-text" (click)="toggleCurrentPassword()" style="cursor: pointer;">
                    <i class="pi" [ngClass]="showCurrentPassword ? 'pi-eye' : 'pi-eye-slash'"></i>
                  </span>
                </div>
                <div class="input-group mb-2">
                  <input [type]="showNewPassword ? 'text' : 'password'" placeholder="Confirm Password"
                    class="form-control" />
                  <span class="input-group-text" (click)="toggleNewPassword()" style="cursor: pointer;">
                    <i class="pi" [ngClass]="showNewPassword ? 'pi-eye' : 'pi-eye-slash'"></i>
                  </span>
                </div>


              </ng-container>

              <!-- Admin form -->

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success mt-5">Save</button>
              </div>

            </div>


            <!--
      <div *ngSwitchCase="2">
        <h3>Reset Password</h3>
        <input type="password" formControlName="newPassword" placeholder="New Password" class="form-control mb-2" />
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control mb-2" />

        <button type="button" (click)="goToStep(1)" class="btn btn-secondary">Back</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
      -->
          </ng-container>
        </form>
      </div>

    </div>






    <!-- Permissions Section (Optional Placeholder or Custom Content) -->
    <!-- <div class="col-md-8 mb-4">
        <div class="card border rounded p-3 h-100">
          <h2 class="fw-bold mb-3">Permissions</h2>
          <div class="border rounded p-3 m-2 h-75">
            <h2 class="fw-bold mb-3"></h2>
            <div class="border rounded p-3 m-2 h-75">
              <h2 class="fw-bold mb-3"></h2>
              <div class="form-check form-switch mb-3 d-flex tw-justify-between">

                <div>
                  <h3 class="form-check-label" for="perm1">
                    ea dolor minus
                  </h3>

                  <p>Ensure compliance with safety regulations and conduct safety training for personnel.</p>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" id="perm1" checked />
                </div>
              </div>

            </div>

          </div>
          <div class="border rounded p-3 m-2 h-75">
            <h2 class="fw-bold mb-3"></h2>
            <div class="form-check form-switch mb-3 d-flex tw-justify-between">

              <div>
                <h3 class="form-check-label" for="perm1">
                  velit molestiae harum
                </h3>

                <p class="pe-2">Atque ut expedita. Necessitatibus et ut ut eligendi consequatur voluptatum. Voluptas qui
                  adipisci.
                  Rem aliquid tenetur ad alias in </p>
              </div>
              <div>
                <input class="form-check-input" type="checkbox" id="perm1" checked />
              </div>
            </div>

          </div>
          <div class="border rounded p-3 m-2 h-75">
            <h2 class="fw-bold mb-3"></h2>
            <div class="form-check form-switch mb-3 d-flex tw-justify-between">

              <div>
                <h3 class="form-check-label" for="perm1">
                  ea dolor minus
                </h3>

                <p>Ensure compliance with safety regulations and conduct safety training for personnel.</p>
              </div>
              <div>
                <input class="form-check-input" type="checkbox" id="perm1" checked />
              </div>
            </div>

          </div>
        </div>


      </div> -->
  </div>
</div>
