@keyframes pulse-red-bg {
  0% {
    fill: #f37d7d;
    fill-opacity: 0.6;
  }
  50% {
    fill: #f37d7d;
    fill-opacity: 0.9;
  }
  100% {
    fill: #f37d7d;
    fill-opacity: 0.6;
  }
}

@keyframes pulse-green-bg {
  0% {
    fill: #6ad384;
    fill-opacity: 0.3;
  }
  50% {
    fill: #6ad384;
    fill-opacity: 0.9;
  }
  100% {
    fill: #6ad384;
    fill-opacity: 0.6;
  }
}

.pulse-green {
  animation: pulse-green-bg 1s ease-in-out infinite;
  stroke: none !important; /* Ensure no border on pulsed element */
}

.pulse-red {
  animation: pulse-red-bg 1s ease-in-out infinite;
  stroke: none !important; /* Ensure no border on pulsed element */
}

.pulse-green,
.pulse-red {
  transform-origin: center;
  transition: all 0.3s ease;
}
