<!-- searchBar -->
<div class="row">
  <!-- <div class="my-4" *ngIf="isUser">
    <button class="btn btn-success" (click)="openAddForm(addForm);lineForm(0)">Add</button>
  </div> -->
  <div class="col-12 grid-margin">
    <form [formGroup]="FilterForm">
      <div class="row g-3">
        <div class="col-md-3" *ngIf="accessToFactories">
          <!-- //Machines -->
          <ng-select [items]="FactoriesDropDown" bindLabel="name" bindValue="id" [searchable]="false"
            formControlName="factoryId" placeholder=" Machine" (ngModel)="selectedFactory"
            (change)="line(selectedFactory)">
          </ng-select>
        </div>
        <!-- //Lines -->
        <div class="col-md-3">
          <ng-select [items]="LineDropDown" bindLabel="name" bindValue="id" [searchable]="false"
            formControlName="lineID" placeholder="Line" (ngModel)="selectedLine">
          </ng-select>

        </div>
        <div class="col-md-3">
          <input type="text" class="w-100" placeholder="Rated Speed" pInputText formControlName="text" />
        </div>
        <!-- //shifts -->
        <div class="col-md-3">
          <ng-select [items]="ShiftList" bindLabel="name" bindValue="id" [searchable]="false" formControlName="lineID"
            placeholder="Shift" (ngModel)="selectedLine">
          </ng-select>

        </div>
        <div class="col-md-3">
          <p-multiSelect [options]="Sku" (ngModel)="skuSelected" optionLabel="name" placeholder="Sku" [filter]="false"
            style="width: 100%;">
          </p-multiSelect>
        </div>

        <div class="col-md-3 d-flex justify-content-between">
          <button type="button" (click)="filterBTN()" [disabled]="FilterForm.invalid"
            class="btn bg-danger tw-bg-searchBtn btn-icon-text mb-2 mb-md-0">
            <!-- <i class="" data-feather="filter" appFeatherIcon></i> -->
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-hover align-middle">
      <thead class="align-middle">
        <tr>
          <!-- <th scope="col">Machine UID</th>
          <th scope="col">Machine Name</th>
          <th scope="col">faunctionality</th>
          <th scope="col">Machine Speed</th>
          <th scope="col">Unit of Speed</th>
          <th scope="col">Building</th>
          <th scope="col">Floor</th>
          <th scope="col">Room</th>
          <th *ngIf="isUser" scope="col"></th> -->
          <th scope="col">Machine</th>
          <th scope="col">Line</th>
          <th scope="col">Rated Speed</th>
          <th scope="col">Shift</th>
          <th scope="col">Sku</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let machine of machines">
          <td>
            {{ machine.uid }}
          </td>
          <td>
            {{ machine.name }}
          </td>
          <td>
            {{ machine.faunctionality }}
          </td>
          <td>
            {{ machine.ratedSpeed }}
          </td>
          <td>
            {{ machine.unitOfSpeed }}
          </td>
          <td>
            {{ machine.building }}
          </td>
          <td>
            {{ machine.floor }}
          </td>
          <td>
            {{ machine.room }}
          </td>
          <td class="d-flex align-items-center" *ngIf="isUser">
            <button class="btn btn-warning mx-3" (click)="openLg(content, machine.id)">
              Edit
            </button>
            <button class="btn btn-danger" (click)="delete(machine)" disabled>
              Delete
            </button>
          </td>
        </tr> -->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>

            <button (click)="openDeleteDialog()" type="button" class="btn btn-sm text-white bg-delete-danger"
              title="Delete" [disabled]="false">
              <i class="pi pi-trash"></i>
            </button>
            <p-dialog [(visible)]="showDeleteDialog" [modal]="true" [closable]="true" [style]="{width: '30vw'}">
              <app-delete-component></app-delete-component>


            </p-dialog>
            <button type="button" class="btn btn-sm text-white bg-edit-primary mx-2" title="Edit">
              <i class="pi pi-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="card">
    <div class="modal-header">
      <button type="button" class="btn-close tw-flex tw-items-center tw-justify-center tw-text-2xl" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <i data-feather="x" appFeatherIcon></i>
      </button>
    </div>
    <div class="card-body">
      <form class="row g-3" [formGroup]="machineFormEdit">
        <div class="col-md-4" *ngIf="accessToFactories">
          <label for="ID" class="form-label">Factory</label>
          <ng-select [items]="FactoriesDropDown" bindLabel="name" bindValue="id" [searchable]="false"
            formControlName="factory" placeholder="Select Plant" (ngModel)="selectedFactory2"
            (change)="lineForm(selectedFactory2)">
          </ng-select>
        </div>
        <div class="col-md-4">
          <label for="lineId" class="form-label">Line</label>
          <ng-select [items]="LineDropDown1" bindLabel="name" bindValue="id" [searchable]="false"
            formControlName="lineId" placeholder="Select Line" (ngModel)="selectedLine2">
          </ng-select>
        </div>
        <div class="col-md-4">
          <label for="machineName" class="form-label">Machine Name</label>
          <input type="text" class="form-control" formControlName="name" id="machineName" />
        </div>
        <div class="col-md-4">
          <label for="functionality" class="form-label">Functionality</label>
          <input type="text" class="form-control" formControlName="faunctionality" id="functionality" />
        </div>
        <div class="col-md-4">
          <label for="machineUid" class="form-label">Machine UID</label>
          <input type="text" class="form-control" formControlName="uid" id="machineUid" />
        </div>

        <div class="col-md-4">
          <label for="machineSpeed" class="form-label">Machine Speed</label>
          <input type="number" class="form-control" formControlName="ratedSpeed" id="machineSpeed" />
        </div>
        <div class="col-md-4">
          <label for="UnitofSpeed" class="form-label">Unit of Speed</label>
          <input type="text" class="form-control" formControlName="unitOfSpeed" id="UnitofSpeed" />
        </div>
        <div class="col-md-4">
          <label for="Building" class="form-label">Building</label>
          <input type="text" class="form-control" formControlName="building" id="Building" />
        </div>
        <div class="col-md-4">
          <label for="Floor" class="form-label">Floor</label>
          <input type="text" class="form-control" formControlName="floor" id="Floor" />
        </div>
        <div class="col-md-4">
          <label for="Room" class="form-label">Room</label>
          <input type="text" class="form-control" formControlName="room" id="Room" />
        </div>
        <div class="col-12 text-end">
          <button type="submit" (click)="upDate(); modal.close()" class="btn btn-dark tw-bg-black">
            update
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #addForm let-modal>
  <div class="card">
    <div class="modal-header">
      <button type="button" class="btn-close tw-flex tw-items-center tw-justify-center tw-text-2xl" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <i data-feather="x" appFeatherIcon></i>
      </button>
    </div>
    <div class="card-body">
      <form class="row g-3" [formGroup]="machineForm">
        <div class="col-md-4" *ngIf="accessToFactories">
          <label for="ID" class="form-label">Factory</label>
          <ng-select [items]="FactoriesDropDown" bindLabel="name" bindValue="id" [searchable]="false"
            formControlName="factory" placeholder="Select Plant" (ngModel)="selectedFactory1"
            (change)="lineForm(selectedFactory1)">
          </ng-select>
        </div>
        <div class="col-md-4">
          <label for="lineId" class="form-label">Line</label>
          <ng-select [items]="LineDropDown1" bindLabel="name" bindValue="id" [searchable]="false"
            formControlName="lineId" placeholder="Select Line" (ngModel)="selectedLine1">
          </ng-select>
        </div>
        <div class="col-md-4">
          <label for="machineName" class="form-label">Machine Name</label>
          <input type="text" class="form-control" formControlName="name" id="machineName" />
        </div>
        <div class="col-md-4">
          <label for="functionality" class="form-label">Functionality</label>
          <input type="text" class="form-control" formControlName="faunctionality" id="functionality" />
        </div>
        <div class="col-md-4">
          <label for="machineUid" class="form-label">Machine UID</label>
          <input type="text" class="form-control" formControlName="uid" id="machineUid" />
        </div>

        <div class="col-md-4">
          <label for="machineSpeed" class="form-label">Machine Speed</label>
          <input type="number" class="form-control" formControlName="ratedSpeed" id="machineSpeed" />
        </div>
        <div class="col-md-4">
          <label for="UnitofSpeed" class="form-label">Unit of Speed</label>
          <input type="text" class="form-control" formControlName="unitOfSpeed" id="UnitofSpeed" />
        </div>
        <div class="col-md-4">
          <label for="Building" class="form-label">Building</label>
          <input type="text" class="form-control" formControlName="building" id="Building" />
        </div>
        <div class="col-md-4">
          <label for="Floor" class="form-label">Floor</label>
          <input type="text" class="form-control" formControlName="floor" id="Floor" />
        </div>
        <div class="col-md-4">
          <label for="Room" class="form-label">Room</label>
          <input type="text" class="form-control" formControlName="room" id="Room" />
        </div>
        <div class="col-12 text-end">
          <button type="submit" (click)="add()" class="btn btn-dark tw-bg-black">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
