:host ::ng-deep .p-multiselect {
  width: 100% !important;
}
.bg-danger {
  background-color: #0083cb !important;
  border-color: #0083cb !important;
  color: white !important;
}
.bg-delete-danger {
  color: #b42318 !important;
}
.bg-edit-primary {
  color: #475467 !important;
}
