<div class="container my-2">
  <div class=" p-2 rounded-4">
    <!-- Profile Header -->
    <div class="text-center">
      <!-- <div class="d-flex justify-content-center">
        <img src="../../../../../assets/images/user.png" class="rounded-circle border" alt="Profile" width="150"
          height="100" />
      </div> -->


    </div>
    <!-- Info Sections -->
    <div class="row mt-1">
      <!-- About Section -->
      <!-- <div class="col-md-4 mb-4">
        <div class="border rounded p-3 h-75">
          <h2 class="fw-bold mb-3">About</h2>

        </div>
      </div> -->
      <div class="stepper-layout">
        <!-- left side (steps navigation only) -->
        <!-- <div class="custom-stepper"> -->
        <!-- Step 1 -->
        <!-- <div class="step">
            <div class="circle">1</div>
            <div class="step-content">
              <h4>Password</h4>
              <p>Change Password</p>
            </div>
          </div> -->

        <!-- Step 2 -->
        <!-- <div class="step" [class.active]="currentStep === 2" (click)="goToStep(2)">
            <div class="circle">2</div>
            <div class="step-content">
              <h4>Password</h4>
              <p>Reset your password</p>
            </div>
          </div> -->
        <!-- </div> -->

        <!-- right side (form box) -->
        <div class="content-box">
          <form [formGroup]="forgetForm" (ngSubmit)="onSendOtp()">
            <ng-container>

              <!-- Step 1 -->
              <div>
                <h2>Forget Password</h2>


                <!-- User form -->
                <ng-container>

                  <input type="text" formControlName="email" placeholder="Enter Email" class="form-control mb-2" />



                </ng-container>

                <!-- Admin form -->

                <div class="d-flex justify-content-end">
                  <button *ngIf="hasToken()" type="submit" class="btn btn-success mt-5"
                    (click)="goToMain()">Back</button>
                  <button type="submit" class="btn btn-success mt-5 ms-2" [class.active]="currentStep === 2"
                    (click)="goToStep(2)">Next</button>
                </div>
                <!-- <p-dialog header="Enter OTP" [(visible)]="displayOtpPopup" [modal]="true" [style]="{width: '60vw'}"
                  [draggable]="false" [resizable]="false"> -->

                <!-- <app-otp [email]="email"></app-otp> -->

                <!-- </p-dialog> -->
              </div>


            </ng-container>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <p-toast></p-toast> -->
