p-dropdown,
p-calendar {
  display: block;
}
.btn-danger {
  background-color: #0083cb !important;
  border-color: #0083cb !important;
}
.bg-delete-danger {
  color: #b42318 !important;
}
.bg-edit-primary {
  color: #475467 !important;
}
