<div id="pdf-content" style="padding: 20px; font-family: Arial, sans-serif;">
  <!-- Filter Shifts -->
  <div class="d-flex justify-content-end">
    <div
      class="btn-group text-nowrap 2xl:tw-flex-nowrap xl:tw-flex-nowrap lg:tw-flex-wrap md:tw-flex-wrap tw-flex-wrap mb-4"
      role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnGroupRadio" [(ngModel)]="shiftFilterid" id="btnRadio3"
        [checked]="shiftFilterid==0" autocomplete="off" [value]="0">
      <label class="btn btn-outline-primary" for="btnRadio3" (click)="GetMainDashobard(0)">Current
        Shift</label>

      <input type="radio" class="btn-check" name="btnGroupRadio" id="btnRadio1" [(ngModel)]="shiftFilterid"
        autocomplete="off" [checked]="shiftFilterid===1" [value]="1">
      <label class="btn btn-outline-primary" for="btnRadio1" (click)="GetMainDashobard(1)">Last
        Shift</label>

      <input type="radio" class="btn-check" name="btnGroupRadio" [(ngModel)]="shiftFilterid" id="btnRadio2"
        [checked]="shiftFilterid==2" autocomplete="off" [value]="2">
      <label class="btn btn-outline-primary" for="btnRadio2" (click)="GetMainDashobard(2)">Last 2
        Shift</label>

      <input type="radio" class="btn-check" name="btnGroupRadio" id="btnRadio5" [(ngModel)]="shiftFilterid"
        autocomplete="off" [checked]="shiftFilterid==3" [value]="3">
      <label class="btn btn-outline-primary" for="btnRadio5" (click)="GetMainDashobard(3)">Last 7
        Days</label>

      <input type="radio" class="btn-check" name="btnGroupRadio" id="btnRadio4" autocomplete="off"
        [checked]="shiftFilterid==4" [value]="4">
      <label class="btn btn-outline-primary" for="btnRadio4" (click)="GetMainDashobard(4)">Last 30
        Days</label>
    </div>
  </div>
  <div class="row gy-4">
    <app-number-of-parts class="col-lg-8"
      [numOfPartsandtotalEnergy]="numOfPartsandtotalEnergy"></app-number-of-parts>
    <app-energy-consumption class="col-lg-4"
      [numOfPartsandtotalEnergy]="numOfPartsandtotalEnergy"></app-energy-consumption>
      <app-eur class="col-lg-7" [numOfPartsandtotalEnergy]="numOfPartsandtotalEnergy"></app-eur>
      <app-oee-dashboard class="col-lg-5" [RadarChartOptions]="RadarChartOptions"></app-oee-dashboard>
    </div>
</div>