<div class="card  text-center">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>


  <div class="d-flex flex-column align-items-center mb-4">
    <img src="../../../../../assets/images/delete-icon.png" class="mb-3" style="width: 100px; height: 100px;" />
    <h4 class="mb-2">Are you sure you want to delete this item?</h4>
    <p class="text-muted">This action cannot be undone</p>
  </div>


  <div class="d-flex justify-content-between">
    <button pButton type="button" label="Cancel" outlined (click)="confirm1()">
    </button>

    <button pButton type="button" label="Delete" severity="danger" outlined (click)="confirm2()">
    </button>
  </div>
</div>
