<div class="container my-4">
  <div class="p-4 rounded-4">
    <div class="text-center">
      <div class="d-flex justify-content-center">
        <img src="../../../../../assets/images/user.png" class="rounded-circle border" alt="Profile" width="150"
          height="100" />
      </div>
      <!-- <h3 class="mt-3 mb-1">Forgot Password</h3> -->
      <div class="text-muted pt-3">Follow the steps below to reset your password</div>
    </div>

    <div class="row mt-5 p-5">
      <div class="stepper-layout">
        <!-- left stepper -->
        <div class="custom-stepper">
          <div class="step" [class.active]="currentStep === 1" (click)="goToStep(1)">
            <div class="circle">1</div>
            <div class="step-content">
              <h4>Forget Password</h4>
              <p>Enter your email</p>
            </div>
          </div>
          <div class="step" [class.active]="currentStep === 2" (click)="goToStep(2)">
            <div class="circle">2</div>
            <div class="step-content">
              <h4>OTP Verification</h4>
              <p>Enter the OTP sent to your email</p>
            </div>
          </div>
          <div class="step" [class.active]="currentStep === 3" (click)="goToStep(3)">
            <div class="circle">3</div>
            <div class="step-content">
              <h4>Reset Password</h4>
              <p>Set your new password</p>
            </div>
          </div>
        </div>

        <!-- right content -->
        <div class="content-box">
          <ng-container [ngSwitch]="currentStep">
            <app-forget-password *ngSwitchCase="1" (nextStep)="goToStep(2)"
              (emailCaptured)="userEmail = $event"></app-forget-password>
            <app-otp [email]="userEmail" *ngSwitchCase="2" (nextStep)="goToStep(3)" (prevStep)="goToStep(1)"></app-otp>
            <app-reset-password [email]="userEmail" *ngSwitchCase="3" (prevStep)="goToStep(2)"
              (done)="displayResetPassword = false"></app-reset-password>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
