<!-- machine-details.component.html -->
<div class="parent">
  <div class="grid-container" *ngIf="machines?.length; else noData">

    <ng-container *ngFor="let machine of machines; let i = index">

      <!-- Machine card -->
      <div class="grid-item">
        <div class="card" [ngClass]="{
    'running': (machine.latestSignal?.speed ?? 0) > 0,
    'stopped': (machine.latestSignal?.speed ?? 0) === 0,
    'flashing-green': flashingMachines.has(machine.machineName) && flashingColor[machine.machineName] === 'green',
    'flashing-red':   flashingMachines.has(machine.machineName) && flashingColor[machine.machineName] === 'red'
  }">
          <h4>{{ getMachineType(machine.machineName) }}</h4>
          <p class="machine-type">{{ machine.machineName }}</p>
        </div>

        <div class="machine-data">
          <p>
            <span class="label">Speed</span>
            <span class="value text-bold">
              {{ machine.latestSignal?.speed != null
              ? (machine.latestSignal.speed | number:'1.0-0')
              : '—' }}
            </span>
            PpH
          </p>
          <p>
            <span class="label">Count</span>
            <span class="value text-bold">
              {{ machine.totalCountDiff != null
              ? (machine.totalCountDiff | number:'1.0-0')
              : '—' }}
            </span>
            Part
          </p>
          <p>
            <span class="label">Last Time</span>
            <span class="value">
              {{ machine.latestTimeStamp ? (machine.latestTimeStamp | date:'yyyy-MM-dd HH:mm:ss') : '—' }}
            </span>
          </p>
        </div>
      </div>

      <!-- Arrow between machines -->
      <div class="arrow" *ngIf="i < machines.length - 1">&#9658;</div>

    </ng-container>

  </div>

  <ng-template #noData>
    <div class="no-data">No machine data available for this line.</div>
  </ng-template>
</div>
<!-- <p-dialog [header]="dialogTitle" [(visible)]="showDialog" [modal]="true"
  [style]="{ width: '100vw', maxWidth: '1100px' }" [draggable]="true" [resizable]="false">

  <app-machine-state-details [machines]="machinesState" [filteredMachines]="machinesState">
  </app-machine-state-details>

</p-dialog> -->