.btn-danger {
  background-color: #0083cb !important;
  border-color: #0083cb !important;
}
.tw-bg-searchBtn {
  color: #1849a9 !important;
  // border-radius: 16px !important;
  background-color: #b2ddff !important;
}
.tw-bg-purple-400 {
  color: white !important;
  // border-radius: 16px !important;
  background-color: #5595c7 !important;
}
