.btn-danger {
  background-color: #0083cb !important;
  border-color: #0083cb !important;
}
.tw-bg-searchBtn {
  color: #1849a9 !important;
  // border-radius: 16px !important;
  background-color: #b2ddff !important;
}
.tw-bg-purple-400 {
  color: white !important;
  // border-radius: 16px !important;
  background-color: #5595c7 !important;
}
:host ::ng-deep .p-button {
  color: #ffffff;
  background: #165783;
  border: 1px solid #165783;
  padding: 6.2px;
  font-size: 15px;

  border-radius: 5px;
}
:host ::ng-deep .p-button:hover,
:host ::ng-deep .p-button:focus,
:host ::ng-deep .p-button:active {
  background: #165783 !important;
  border-color: #165783 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}
.dialog-title {
  color: #6b7280;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Row for inputs */
.form-row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Each input block */
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Ensure inputs fill width */
.form-group input {
  width: 100%;
}

/* Buttons alignment */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

/* Responsive: stack on small screens */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
