.btn-danger {
  background-color: #0083cb !important;
  border-color: #0083cb !important;
}
.btn-sm {
  color: #1849a9 !important;
  border-radius: 16px !important;
  background-color: #b2ddff !important;
}
