<nav class="sidebar">
  <div class="sidebar-header">
    <div></div>
    <div class="sidebar-toggler active" #sidebarToggler (click)="toggleSidebar($event)">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!--- Logo -->
    <img width="200" routerLink="/" src="assets/images/logo-eipico.png"
      class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" />


    <!--
    <a routerLink="/" class="sidebar-brand nobleui-logo">Taqa    </a> -->
    <!--- Toggler -->

  </div>
  <div class="sidebar-body pt-5" (mouseenter)="operSidebarFolded()" (mouseleave)="closeSidebarFolded()"
    [perfectScrollbar]>
    <!--- Sidemenu start -->

    <ul class="sidebar-nav metismenu tw-h-full tw-relative" id="sidebar-menu" #sidebarMenu>
      <li class="nav-item text-center">


        <!-- <img width="100" src="assets/images/logo.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} d-block tw-mx-auto tw-w-96" alt=""> -->
        <!-- <a  class="nav-link">
          <i class="link-icon" data-feather="hash" appFeatherIcon></i>
          <span class="link-title">Documentation</span>
        </a> -->
      </li>
      <ng-container *ngFor="let item of menuItems">
        <!-- Title item -->
        <!-- <li class="nav-item nav-category" *ngIf="item.showSubItems">{{
          item.label }}</li> -->

        <!-- Main item (with or without subitems) -->
        <li class="nav-item" *ngIf="!item.isTitle">
          <!-- Main item with subitems -->
          <a class="nav-link" *ngIf="item.showSubItems" href="javascript:void(0);" role="button">
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
            <span class="link-title">{{ item.label }}</span>
            <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
          </a>

          <!-- Main item without subitems, just a link -->
          <a class="nav-link nav-link-ref" [routerLink]="item.link" routerLinkActive="mm-active" *ngIf="!hasItems(item)"
            [attr.data-parent]="item.parentId">
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
            <span class="link-title">{{ item.label }}</span>
            <span class="badge bg-{{ item.badge.variant }}" *ngIf="item.badge">{{ item.badge.text }}</span>
          </a>

          <!-- Sub-menu for items with subitems -->
          <ul class="sidebar-nav sub-menu nav-second-level" *ngIf="item.showSubItems">
            <li class="nav-item" *ngFor="let subitem of item.subItems"
              [ngClass]="{ 'side-nav-item': hasItems(subitem) }">
              <!-- Subitem with sub-subitems -->
              <a class="nav-link side-nav-link-a-ref" *ngIf="hasItems(subitem)" href="javascript:void(0);"
                role="button">
                <i class="link-icon" [attr.data-feather]="subitem.icon" appFeatherIcon *ngIf="subitem.icon"></i>
                <span class="link-title">{{ subitem.label }}</span>
                <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
              </a>

              <!-- Button for subitems without further subitems -->
              <button [disabled]="
                  subitem.label === 'Line Settings' ||
                  subitem.label === 'Production Settings' ||
                  subitem.label === 'Stoppage Plan' ||
                  subitem.label === 'Daily reports'
                " *ngIf="subitem.showSubItems" class="nav-link nav-link-ref" [routerLink]="subitem.link"
                routerLinkActive="mm-active" [routerLinkActiveOptions]="{ exact: true }"
                [attr.data-parent]="subitem.parentId">
                <i class="link-icon" [attr.data-feather]="subitem.icon" appFeatherIcon *ngIf="subitem.icon"></i>
                {{ subitem.label }}
              </button>

              <!-- Sub-sub-items -->
              <ul class="sidebar-nav sub-menu nav-third-level" *ngIf="subitem.showSubItems">
                <li class="nav-item" *ngFor="let subSubitem of subitem.subItems">
                  <a class="nav-link nav-link-ref" [routerLink]="subSubitem.link" routerLinkActive="mm-active"
                    [attr.data-parent]="subSubitem.parentId">
                    <i class="link-icon" [attr.data-feather]="subSubitem.icon" appFeatherIcon
                      *ngIf="subSubitem.icon"></i>
                    {{ subSubitem.label }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ng-container>

      <li class="nav-item nav-category text-center tw-absolute -tw-bottom-32">
        Powered by Elsquare
      </li>
      <!-- <p class="sidebar-brand nobleui-logo" style="font-size: 18px">
        MES Genies AI

      </p> -->
      <li class="text-center fw-bold nav-item nav-category tw-absolute -tw-bottom-32">v3.0.1</li>
    </ul>
  </div>
</nav>
