<form class="" [formGroup]="addForm">
  <div class="card p-5">
    <div class="row align-items-end">
      <!-- Role Name -->
      <div class="col-md-3">
        <label class="mb-2" for="">Role Name :</label>
        <input formControlName="RoleName" class="form-control" placeholder="Enter Role Name" />
      </div>

      <!-- Claims -->
      <div class="col-md-3">
        <label class="mb-2" for="">Claims :</label>
        <ng-select formControlName="Claims" [items]="claimsList" bindLabel="claimName" bindValue="id"
          placeholder="Select Claims" [multiple]="true" class="w-100">
        </ng-select>
      </div>
      <div class="col-md-3">
        <label class="mb-2" for="">Areas :</label>
        <ng-select formControlName="AreaIds" [items]="allAreas" bindLabel="text" bindValue="value"
          placeholder="Select Areas" [multiple]="true" class="w-100">
        </ng-select>
      </div>
      <!-- Button -->
      <div class="col-md-1">
        <button class="btn btn-primary w-100" (click)="addRole()">Add Role</button>
      </div>
    </div>
  </div>
</form>

<div class="card mt-3  tw-shadow-lg">
  <div class="card-body table-responsive">
    <div class="d-flex align-items-center mb-3 gap-3">
      <!-- Filter select Role -->
      <ng-select [items]="allRoles" bindLabel="name" bindValue="name" class="w-50" placeholder="Filter by Role"
        (change)="onRoleChange($event)">
      </ng-select>

      <!-- Filter select claims -->
      <ng-select [items]="claimsList" bindLabel="claimName" bindValue="claimName" class="w-50"
        placeholder="Filter by Claim" (change)="onClaimChange($event)">
      </ng-select>
      <!-- Search input -->

    </div>

    <table class="table table-hover align-middle mt-3 text-center ">
      <thead class="tw-text-center">
        <tr>

          <th>Role</th>
          <th>Claims</th>
          <th>Areas</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody class="tw-text-center">
        <tr *ngFor="let role of allRolesDetails">
          <td>{{ role.roleName }}</td>
          <td>
            <ng-container *ngIf="role.claims?.length > 0; else noClaims">
              <ng-container *ngFor="let c of role.claims; let last = last">
                {{ c.value }}<span *ngIf="!last">, </span>
              </ng-container>
            </ng-container>
            <ng-template #noClaims>--</ng-template>
          </td>
          <td>
            <ng-container *ngIf="role.areas?.length > 0; else noAreas">
              <ng-container *ngFor="let a of role.areas; let last = last">
                {{ a.name }}<span *ngIf="!last">, </span>
              </ng-container>
            </ng-container>
            <ng-template #noAreas>--</ng-template>
          </td>
          <td class="">


            <button type="button" (click)="showDialog(role)" class="btn btn-sm text-white bg-edit-primary mx-2"
              title="Edit">
              <i class="pi pi-pencil"></i>
            </button>
            <p-dialog header="Edit Role" [modal]="true" [(visible)]="visible"
              [style]="{ width: '60rem', height: '40%' }">
              <form [formGroup]="editForm">
                <hr />
                <div class="form-section padding">
                  <div class="field">
                    <p class="label text-start">Role Name</p>
                    <!-- <ng-select formControlName="RoleName" bindLabel="name" bindValue="name" class="w-100"
                      placeholder="Filter by Role"></ng-select> -->
                    <input pInputText [value]="editForm.get('RoleName')?.value" class="w-100" readonly />
                  </div>

                  <div class="field">
                    <p class="label text-start">Claims</p>
                    <ng-select formControlName="Claims" [items]="claimsList" bindLabel="claimName" bindValue="claimName"
                      placeholder="Filter by Claim" [multiple]="true" class="w-100"></ng-select>
                  </div>

                  <div class="field">
                    <p class="label text-start">Area</p>
                    <ng-select formControlName="AreaIds" [items]="allAreas" bindLabel="text" bindValue="value"
                      placeholder="Select Areas" [multiple]="true"></ng-select>
                  </div>
                </div>

                <div class="actions">
                  <p-button label="Cancel" class="remove" severity="secondary" (onClick)="visible = false"></p-button>
                  <p-button label="Edit" class="btn-primary" (onClick)="onEditRole()"></p-button>
                </div>
              </form>
            </p-dialog>



            <button (click)="openDeleteDialog(role.roleName)" type="button"
              class="btn btn-sm text-white bg-delete-primary mx-2" title="Delete" [disabled]="false">
              <i class="pi pi-trash"></i>
            </button>
            <p-dialog [(visible)]="showDeleteDialog" [modal]="true" [closable]="false" [style]="{width: '30vw'}">

              <app-delete-component (confirm)="onDeleteRole()" (cancel)="onCancelDelete()">
              </app-delete-component>

            </p-dialog>
            <!-- <p-dialog [(visible)]="showEditDialog" styleClass="edit-dialog" [modal]="false" [closable]="true"
              [style]="{width: '60vw'}">
              <ng-template pTemplate="content">
                <ng-container *ngTemplateOutlet="editProfileTpl"></ng-container>
              </ng-template>
            </p-dialog>

            <ng-template #editProfileTpl>
              <app-edit-profile class="hide-navbar" [profileToEdit]="selectedUser" [allClaims]="allClaims"
                [allAreas]="allAreas" [allRoles]="allRoles">
              </app-edit-profile>
            </ng-template> -->



          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
