.bg-edit-primary {
  color: #475467 !important;
}
.bg-delete-primary {
  color: #e35454 !important;
}
.form-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}
::ng-deep .btn-primary .p-button {
  background-color: rgba(0, 131, 204, 1);
  border-color: rgba(0, 131, 204, 1);
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
}
::ng-deep .remove .p-button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: red;
  font-weight: 600;
}
::ng-deep .btn-primary .p-button:hover {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
  filter: none !important;
  box-shadow: none !important;
}
::ng-deep .remove .p-button:hover {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
  filter: none !important;
  box-shadow: none !important;
}
.padding {
  padding: 30px !important;
}
::ng-deep .p-dialog .p-dialog-content {
  padding: 1.5rem 2rem !important;
}
