#factory-svg {
  width: 3000px !important;
  height: auto;
}
#factory-svg text {
  font-size: 28px !important;
}
#factory-svg rect {
  font-size: 28px !important;
}
#factory-svg g {
  font-size: 28px !important;
}
#factory-svg span {
  font-size: 28px !important;
}
#factory-svg foreignObject div {
  font-size: 28px !important;
}

/* Specific size increases for headers */
