<div class="row">
  <div class="col-12 grid-margin">
    <div class="row g-3">
      <div class="col-md-3">
        <!-- FactoriesDropDown -->
        <ng-select [items]="FactoriesDropDown" bindLabel="name" bindValue="id" [searchable]="false"
          placeholder="Select Plant" [(ngModel)]="selectedFactory" (change)="rooms=[];getAllRoomsById(selectedFactory)">
        </ng-select>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2 ">

  <div class=" col-xl-4 d-flex justify-content-center tw-mt-8" *ngFor="let room of rooms">
    <div class="tw-w-full tw-max-w-sm tw-bg-white tw-border tw-border-gray-200 tw-rounded-lg tw-shadow p-4">
      <!-- clickable room name -->
      <!-- (click)="selectedRoomId = (selectedRoomId === room.value ? null : room.value)" -->
      <a class=" tw-my-3 tw-text-center tw-block tw-font-bold tw-text-2xl tw-text-gray-900 cursor-pointer">
        {{ room.name }}
      </a>
      <!-- *ngIf="selectedRoomId === room.value" class="tw-mt-4" -->
      <div>
        <!-- <img src="../../../../../assets/images/room-scale.png"> -->
        <app-room-view [factoryId]="selectedFactory" [id]="room.value">
        </app-room-view>

      </div>
    </div>

  </div>