<section>
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1">
        <div class="">
          <div class="tw-flex tw-items-center tw-justify-between">
            <p class="tw-font-bold">Total Number Of Batchs : {{ totalCount }}</p>

          </div>
          <div class="col-lg-4 tw-flex tw-justify-around mb-2">
            <div class="col-sm-10">
              <input type="text" class="tw-mr-1 form-control" id="Search"
                placeholder="BATCH NAME, SKU CODE, SKU NAME, JOB ORDER" [(ngModel)]="searchText">
            </div>
            <button for="Search" class="btn btn-danger  col-sm-2 col-form-label tw-font-bold tw-w-fit tw-ml-1"
              (click)="search(searchText)">Search</button>
          </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">

          <div class="card">
            <div class="card-body table-responsive">

              <div class="tw-text-center" *ngIf="batchArr?.length ==0">
                <h3 class="text-danger">
                  No Data Matches Your Search Word
                </h3>
              </div>
              <table *ngIf="batchArr?.length !=0" class="table table-hover caption-top align-center" id="sku">
                <thead class="align-center">
                  <tr>
                    <th scope="col" sortable="batchname">
                      <span>
                        <p>Batch Name</p>
                        <img (click)="
                        onSort({ column: 'batchname', direction: directions });
                        rotates()
                      " src="assets/images/up-and-down-arrows.png" class="sortimage" />
                      </span>
                    </th>
                    <th scope="col" sortable="skucode">
                      <span>
                        <p>Sku Code</p>
                        <img (click)="
                        onSort({ column: 'skucode', direction: directions });
                        rotates()
                      " src="assets/images/up-and-down-arrows.png" class="sortimage" />
                      </span>
                    </th>
                    <th scope="col" sortable="skuname">
                      <span>
                        <p>Sku Name</p>
                        <img (click)="
                        onSort({ column: 'skuname', direction: directions });
                        rotates()
                      " src="assets/images/up-and-down-arrows.png" class="sortimage" />
                      </span>
                    </th>
                    <th scope="col" sortable="joborder">
                      <span>
                        <p>Job Order</p>
                        <img (click)="
                        onSort({ column: 'joborder', direction: directions });
                        rotates()
                      " src="assets/images/up-and-down-arrows.png" class="sortimage" />
                      </span>
                    </th>
                    <th scope="col" sortable="timestamp">
                      <span>
                        <p>Time Stamp</p>
                        <img (click)="
                        onSort({ column: 'timestamp', direction: directions });
                        rotates()
                      " src="assets/images/up-and-down-arrows.png" class="sortimage" />
                      </span>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="align-center">
                  <tr *ngFor="
                      let batch of batchArr
                        | paginate
                          : {
                              itemsPerPage: pagesize,
                              currentPage: page,
                              totalItems: totalCount
                            }
                    ">
                    <td>{{ batch.batchname }}</td>
                    <td>{{ batch.skucode }}</td>
                    <td>{{ batch.skuname }}</td>
                    <td>{{ batch.joborder }}</td>
                    <td>{{ batch.timestamp | date : "medium" }}</td>
                    <td class="tw-flex tw-items-center tw-justify-between">
                      <button (click)="openBasicModal(content,batch.joborder)"
                        class="btn tw-text-blue-900 hover:tw-text-black">
                        <i data-feather="eye" appFeatherIcon></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="tw-text-center tw-my-3" *ngIf="batchArr?.length !=0">
                <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ batchName }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Matarial Name</th>
          <th>Matarial Code</th>
          <th>SAP Weight</th>
          <th>Actual Weight</th>
          <th>DEVIATION %</th>
          <th>Time Stamp</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of JobOrderMatairal">
        <tr>
          <td>{{item?.materialName }}</td>
          <td>{{item?.uid }}</td>
          <td>{{item?.sapweight}}</td>
          <td>{{item?.handheldweight != '-1' ? (item?.handheldweight ): 'N/A'}}</td>
          <td>{{item?.deviation != -1 ? (item?.deviation) : 'N/A'}}</td>
          <td>{{item?.timeStamp ? (item?.timeStamp | date : ( 'dd-MM-yyyy HH:mm a') ): 'N/A'}}</td>

        </tr>
        <tr style="border-bottom:solid 1px ;">
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="exportPdf()">
      Download
    </button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>