span{
  font-size: x-large;
}

.bg-danger{
  background-color: #e61d2b!important;
}
.btn-primary{
background-color:   #6a94c6;
border: #6a94c6;
}
.pointer{
  cursor: pointer;
  }


#skus{
  height: 200px;
  overflow-y: scroll;
}

.modall{
  margin-top: auto !important ;
  margin-bottom: auto !important ;

}
