<section>
  <!-- row -->
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1">
        <!-- TOTAL PRODUCTION card -->
        <div class="col-xl-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0">TOTAL PRODUCTION</h6>
            </div>
            <div class="card-body">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center  py-2">
                  <div class="w-100">
                    <div class="d-flex justify-content-between">
                      <h3 class="mb-2">Parts </h3>
                      <p class="text-muted tx-12 pointer" (click)="openLg(Parts)">More Details</p>
                    </div>
                    <span>
                      {{part!==null? ( +part! | number: "1.0-1") : 'N/A'}}
                    </span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center  py-2">
                  <div class="w-100">
                    <div class="d-flex justify-content-between">
                      <h3 class="mb-2">Packets</h3>
                      <p class="text-muted tx-12 pointer">More Details</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <p>
                        <span>
                          N/A
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TOTAL PRODUCTION card -->
        <div class="col-xl-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0">TOTAL PRODUCTION</h6>
            </div>
            <div class="card-body">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center  py-2">
                  <div class="w-100">
                    <div class="d-flex justify-content-between">
                      <h3 class="mb-2">Pallets</h3>
                      <p class="text-muted tx-12 pointer">More Details</p>
                    </div>
                    <span>
                      N/A
                    </span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center  py-2">
                  <div class="w-100">
                    <div class="d-flex justify-content-between">
                      <h3 class="mb-2">Average Speed</h3>
                      <p class="text-muted tx-12 pointer" (click)="openLg(average)">More Details</p>
                    </div>
                    <!-- *ngIf="parts" -->
                    <div class="d-flex justify-content-between align-items-center" *ngIf="filler">
                      <p>
                        <span>
                          {{filler.avgSpeed !==null ? (filler.avgSpeed | number: "1.0-1") : 'N/A' }}
                        </span>
                      </p>
                      <h3 *ngIf="filler.avgSpeed !==null">

                        (Unit/h)

                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- USAGE RATIOS (Plant) card -->
        <div class="col-xl-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0"> USAGE RATIOS</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="d-flex mt-0  justify-content-between ">
                  <div class="col-6 mr-2 col-md-6 col-xl-6 ">

                    <h3 class="mb-2 ms-0">Total Energy Consumption</h3>
                    <div class="">
                      <span class="text-dark ms-0">
                        {{energy?.totalEnergyConsumption? (energy.totalEnergyConsumption | number: "1.0-1"):'N/A'}} <h3>
                          (KWh)</h3>
                      </span>
                    </div>
                  </div>
                  <div class="col-6 ms-2 col-md-6 col-xl-6 ">
                    <h3 class="mb-2 ms-2">AVG Power Factor</h3>
                    <div class="">
                      <span class="text-dark ms-2">
                        {{energy?.avgPowerFactor ? energy.avgPowerFactor : "N/A"}}
                      </span>
                    </div>
                  </div>
                </div>


                <hr class="my-1">

                <div class="col-6 col-md-6 col-xl-6 ">
                  <h3 class="mb-2 ms-0">AVG THDi</h3>
                  <div class="">
                    <span class="text-dark ms-0">
                      {{energy?.avgTHDi ? energy.avgTHDi : "N/A"}}
                    </span>
                  </div>
                </div>
                <div class="col-6 col-md-6 col-xl-6 ">
                  <h3 class="mb-2 ms-2">AVG THDv</h3>
                  <div class="">
                    <span class="text-dark ms-2">
                      {{energy?.avgPTHDv ? energy.avgPTHDv : "N/A"}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Skus card -->
        <div class="col-xl-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0"> Skus</h6>
            </div>
            <div class="card-body">
              <h3 class="text-danger" *ngIf="skusActivated?.length==0">
                No Current SKU's Attatched
              </h3>
              <div class="d-flex flex-column" *ngIf="skusActivated?.length!=0">
                <div class="table-responsive  py-2" id="skus">
                  <table class="table-sm text-nowrap">
                    <thead>
                      <tr>
                        <th>Sku Name </th>
                        <th>Batch Number</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of skusActivated">
                        <td>{{item?.skuName}}</td>
                        <td> {{item?.batchId}}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-primary tw-bg-searchBtn mx-1"
                            (click)="openBasicModal(MaterialYIELD,item.jobOrderId,item.machineId)">Details</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- models -->

<!-- Skus -->
<div class="example">
  <ng-template #MaterialYIELD let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th>Matarial Name</th>
            <th>Matarial Code</th>
            <th>SAP Weight</th>
            <th>Actual Weight</th>
            <th>DEVIATION %</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of JobOrderMatairal">
          <tr>
            <td>{{item?.materialName }}</td>
            <td>{{item?.uid }}</td>
            <td>{{item?.sapweight}}</td>
            <td>{{item?.handheldweight != '-1' ? (item?.handheldweight ): 'N/A'}}</td>
            <td>{{item?.deviation != -1 ? (item?.deviation) : 'N/A'}}</td>
          </tr>
          <tr style="border-bottom:solid 1px ;">
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger tw-bg-btnDelete"
        (click)="modal.close('by: close button')">Close</button>
    </div>
  </ng-template>
  <!-- Close result -->
</div>



<!-- average speed-->

<ng-template class="tw-mt-auto" #average let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Average Speed </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body row g-3">
    <div class="col-xl-4 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 16rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title">Weighted Average Speed </h5>
          <p class="card-text tw-text-2xl tw-font-bold"> {{filler?.weightedavgspeed !==null ? (filler?.weightedavgspeed
            | number: "1.0-1") : 'N/A' }}</p>

        </div>
      </div>
    </div>


    <div class="col-xl-4 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 16rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title">Equivalent Average Speed </h5>
          <p class="card-text tw-text-2xl tw-font-bold"> {{filler?.equevilantAVGSpeed !==null ?
            (filler?.equevilantAVGSpeed | number: "1.0-1") : 'N/A'}}</p>

        </div>
      </div>
    </div>



    <div class="col-xl-4 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 16rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title">Operation Average Speed</h5>
          <p class="card-text tw-font-bold tw-text-2xl">{{filler?.avgSpeed !==null ? (filler?.avgSpeed | number:
            "1.0-1") : 'N/A' }}</p>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light tw-bg-black tw-text-white"
      (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>



<!-- average speed model -->
<!-- <ng-template #average let-modal>
    <div class="modal-header">
      <h4 class="modal-title"> Average Speed </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body row g-3">
    <div class="col-md-6 tw-flex tw-flex-col tw-items-center">
      <div
        class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out"
        style="width: 18rem"
      >
      <div class="card-body tw-relative tw-text-center">
        <h5 class="card-title"> Weighted Average Speed</h5>
        <p class="card-text tw-text-2xl tw-font-bold">{{filler?.weightedavgspeed !==null ? (filler?.weightedavgspeed  | number: "1.0-1")  : 'N/A' }}</p>

      </div>
      </div>
    </div>
    <div class="col-md-6 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 18rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title">Operation Average Speed</h5>
          <p class="card-text tw-text-2xl tw-font-bold">  {{filler?.avgSpeed !==null ? (filler?.avgSpeed | number: "1.0-1") : 'N/A' }}</p>
        </div>
      </div>
    </div>
  </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-light  tw-bg-black tw-text-white" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template> -->

<!-- Parts model -->

<ng-template #Parts let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Parts </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body row g-3">
    <div class="col-xl-4 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 15rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title"> total parts </h5>
          <p class="card-text tw-text-2xl tw-font-bold"> {{filler?.total !==null ? (filler?.total | number: "1.0-1") :
            'N/A'}}</p>

        </div>
      </div>
    </div>
    <div class="col-xl-4 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 15rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title">good parts</h5>
          <p class="card-text tw-text-2xl tw-font-bold"> {{filler?.count !==null ? (filler?.count | number: "1.0-1") :
            'N/A'}}</p>

        </div>
      </div>
    </div>
    <div class="col-xl-4 tw-flex tw-flex-col tw-items-center">
      <div class="card hoveringState hover:tw-bg-gray-300 hover:tw-ease-in-out" style="width: 15rem">
        <div class="card-body tw-relative tw-text-center">
          <h5 class="card-title">reject parts </h5>
          <p class="card-text tw-font-bold tw-text-2xl"> {{filler?.qreject !==null ? (filler?.qreject | number: "1.0-1")
            : 'N/A'}}</p>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light tw-bg-black tw-text-white"
      (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>